[core]
	editor = vim
	whitespace = blank-at-eol,space-before-tab,-indent-with-non-tab,tab-in-indent,blank-at-eof,cr-at-eol,tabwidth=2
	autocrlf = input
[color]
	branch = always
	diff = always
	decorate = always
	grep = always
	interactive = always
	showbranch = always
	status = always
	ui = always
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
[alias]
	st = status
	l = log --format=\"%C(auto)%h %Cgreen%ad%Creset %s %C(yellow)(%an <%ae>)%Creset\" --graph --date=format-local:\"%Y-%m-%d %H:%M\"

[credential]
	helper = store
[log]
	date = iso
[init]
	defaultBranch = main
[user]
	useConfigOnly = true
[credential "github.com"]
	useHttpPath = true
[pull]
	rebase = true

